<tetris.Configuration>
  <height>768</height>
  <width>1024</width>
  <controllerMap>
    <entry>
      <string>Rotate CW</string>
      <int>81</int>
    </entry>
    <entry>
      <string>Down</string>
      <int>83</int>
    </entry>
    <entry>
      <string>Pause</string>
      <int>16</int>
    </entry>
    <entry>
      <string>Left</string>
      <int>65</int>
    </entry>
    <entry>
      <string>Right</string>
      <int>68</int>
    </entry>
    <entry>
      <string>Rotate CCW</string>
      <int>69</int>
    </entry>
    <entry>
      <string>Up</string>
      <int>87</int>
    </entry>
    <entry>
      <string>Exit</string>
      <int>27</int>
    </entry>
  </controllerMap>
  <colors>
    <string>black</string>
    <string>blue</string>
    <string>cyan</string>
    <string>green</string>
    <string>magenta</string>
    <string>orange</string>
    <string>pink</string>
    <string>red</string>
    <string>white</string>
    <string>yellow</string>
  </colors>
  <pieces>
    <Piece>
      <dimension>4</dimension>
      <color>6</color>
      <name>Line Piece</name>
      <blocks>
        <Block>
          <x>0</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>0</y>
        </Block>
        <Block>
          <x>0</x>
          <y>1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>2</y>
        </Block>
      </blocks>
    </Piece>
    <Piece>
      <dimension>3</dimension>
      <color>4</color>
      <name>LPiece</name>
      <blocks>
        <Block>
          <x>0</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>0</y>
        </Block>
        <Block>
          <x>0</x>
          <y>1</y>
        </Block>
        <Block>
          <x>1</x>
          <y>1</y>
        </Block>
      </blocks>
    </Piece>
    <Piece>
      <dimension>3</dimension>
      <color>5</color>
      <name>BackwardLPiece</name>
      <blocks>
        <Block>
          <x>0</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>0</y>
        </Block>
        <Block>
          <x>0</x>
          <y>1</y>
        </Block>
        <Block>
          <x>-1</x>
          <y>1</y>
        </Block>
      </blocks>
    </Piece>
    <Piece>
      <dimension>3</dimension>
      <color>3</color>
      <name>Box</name>
      <blocks>
        <Block>
          <x>0</x>
          <y>0</y>
        </Block>
        <Block>
          <x>1</x>
          <y>0</y>
        </Block>
        <Block>
          <x>0</x>
          <y>1</y>
        </Block>
        <Block>
          <x>1</x>
          <y>1</y>
        </Block>
      </blocks>
    </Piece>
    <Piece>
      <dimension>3</dimension>
      <color>7</color>
      <name>T-Piece</name>
      <blocks>
        <Block>
          <x>0</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>0</y>
        </Block>
        <Block>
          <x>1</x>
          <y>0</y>
        </Block>
        <Block>
          <x>0</x>
          <y>1</y>
        </Block>
      </blocks>
    </Piece>
    <Piece>
      <dimension>3</dimension>
      <color>1</color>
      <name>Zig</name>
      <blocks>
        <Block>
          <x>-1</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>1</x>
          <y>0</y>
        </Block>
        <Block>
          <x>0</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>0</y>
        </Block>
      </blocks>
    </Piece>
    <Piece>
      <dimension>3</dimension>
      <color>8</color>
      <name>Zag</name>
      <blocks>
        <Block>
          <x>-1</x>
          <y>0</y>
        </Block>
        <Block>
          <x>1</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>-1</y>
        </Block>
        <Block>
          <x>0</x>
          <y>0</y>
        </Block>
      </blocks>
    </Piece>
  </pieces>
</tetris.Configuration>